<% if @dish.errors.present? %>
  <% @dish.errors.full_messages.each do |msg| %>
    <p style="color: red"><%= msg %></p>
  <% end %>
<% end %>

<%= form_for @dish do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>

  <%= f.submit %>
<% end %>