<h1><%= @dish.name %></h1>
<!-- image? -->
<p><%= @dish.description %></p>
<p>This dish pairs well with <%= link_to (@dish.drinks.first.name), drink_path(@dish.drinks.first) %>.</p> 

<!-- STICKY FOOTER -->
<p>
  <%= link_to "Edit", edit_dish_path(@dish) %>
  <%= link_to 'Delete', dish_path(@dish), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<p><%= link_to "Index", root_path %></p>