<h1><%= @drink.name %></h1>
<!-- image? -->
<p><%= @drink.description %></p>
<p>This drink pairs well with <%= link_to (@drink.dishes.first.name), dish_path(@drink.dishes.first) %>.</p> 

<!-- STICKY FOOTER -->
<p>
  <%= link_to "Edit", edit_drink_path(@drink) %>
  <%= link_to 'Delete', drink_path(@drink), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<p><%= link_to "Index", root_path %></p>