<h1>Index</h1>

<div class="row">
  <div class="col-md-6">
    <h3>Dishes</h3>
      <% @dishes.each do |dish| %>
        <p>
          <%= link_to dish.name, dish_path(dish) %>
        </p>
      <% end %> 

      <p><%= link_to "Add a New Dish", new_dish_path %></p>
      <p><b><%= link_to "See Only Dishes", dishes_path %></b></p>
  </div>
  <div class="col-md-6">
    <h3>Drinks</h3>
    <% @drinks.each do |drink| %>
      <p>
        <%= link_to drink.name, drink_path(drink) %>
      </p>
    <% end %> 

    <p><%= link_to "Add a New Drink", new_drink_path %></p>
    <p><b><%= link_to "See Only Drinks", drinks_path %></b></p>
  </div>
</div>



<!-- STICKY FOOTER -->

